@model dynamic

@{
    ViewBag.Title = "Dev Pulse";
}

<h2>Dev Pulse</h2>

@section Scripts
{
    <script>
        /*$.connection.hub.start();

        var serviceHub = $.connection.service;*/
    </script>
}
